<h4>Successful login, thank you.</h4>
<h3>Please input your full name below: </h3>
<form method="post" action="full_name">
	First Name:<input type="text" name= "first_name">
    Last Name:<input type="text" name= "last_name">
	<input type="submit" value="next">
</form>