<h2>Welcome to the Secure Calculator </h2>
<h3><%=error_message%> Please input your Username and Password in the spaces below.</h3> 
<form method="post" action="login">
	Username:<input type="text" name="username">
	Password:<input type="text" name="password">
	<input type="submit" value="next">
</form>